<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<%= link_to "Leadsto", new_search_path, class: "navbar-brand" %>
		</div>
		<div class="nav navbar-nav navbar-right">
			<%= link_to "新简历", new_resume_path, class: "btn btn-default header_button" %>
		</div>
	</div>
</nav>